
.analytics-container {

    display: flex;
}


.all-cards {
    width: 25%;
}

.charts {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-left: 10px;
    width: 75%;
    height: fit-content;
}