.analytics-card-container {
    background-color: rgb(255, 255, 255);
    box-shadow: 11px 14px 10px -3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 20px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-left {
    width: 60%;
    height: 100%;
}

.card-right {
    width: 40%;
}

.card-left h2 {
    font-size: 2vw;
    margin-top: 10px;
    color: rgb(59, 59, 59);
}

.card-left h1 {
    font-size: 2.4vw;
    margin-top: 30px;
}
