.product-tosell-card {
    height: 60px;
    width: 95%;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    margin-bottom: 15px;
}


.product-tosell-card h1 {
    color: black;
    width: 10vw;
}

.quantite-btns {
    font-size: 25px;
    width: 10vw;
}
.quantite-btns button{
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: white;
    margin: 0 5px;
}


.product-tosell-card p {
    font-size: 23px;
    margin: 10px 0;
    width: 10vw;
}


.add-1-quantity {
    background-color: green;
}

.sub-1-quantity {
    background-color: rgb(205, 7, 7);
}



